*{margin:0;padding:0;}
*,*::after,*::before{box-sizing:border-box;}
ul{list-style:none;}
.clearfix:after{content:"";display:table;clear:both;}

@font-face {
  font-family: "MuseoSansRegular";
  src: url("../fonts/MuseoSansRegular/MuseoSansRegular.eot");
  src: url("../fonts/MuseoSansRegular/MuseoSansRegular.eot?#iefix")format("embedded-opentype"),
  url("../fonts/MuseoSansRegular/MuseoSansRegular.woff") format("woff"),
  url("../fonts/MuseoSansRegular/MuseoSansRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
    font-family: "Bazhanov";
    src: url("../fonts/bazhanovc-bold.otf") format("opentype");
}

body {
  min-width: 1000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

h1, h2, h3, h4, h6 {
  font-family: "Bazhanov", "Times New Roman";
}

p, span, a {
  font-family: "MuseoSansRegular", "OpenSans";
}

a:hover, a:focus {
  text-decoration: none;
}

.wrap {
  max-width: 1280px;
  min-width: 1000px;
  padding: 0 12px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

header {
  background: #2d0c00;
  color: #fff;
  padding: 5px 0;
}

header .orn {
  margin: 0 auto;
  max-width: 768px;
}

header .orn img {
  width: 100%;
  position: relative;
  right: -20px;
}

nav {
  text-align: center;
  margin-bottom: 12px;
}

nav .left,
nav .center,
nav .right {
  display: inline-block;
  vertical-align: middle;
}

nav .center {
  width: 210px;
  margin: 0 auto;
}

.center p {
  font-size: 13px;
}

.center h2 {
  line-height: 30px;
  font-size: 32px;
  text-transform: uppercase;
}

.left a,
.right a {
  position: relative;
  font-size: 16px;
  color: #fff;
  display: inline-block;
  padding: 5px 0px;
  margin: 0px 10px;
  -webkit-transition:.25s;
  transition: .25s;
  border-bottom: 2px solid transparent;
}

.left a::after,
.right a::after {
  content: "";
  width: 4px;
  height: 4px;
  position: absolute;
  top: 15px;
  right: -14px;
  border-radius: 2px;
  background: #8e5b17;
}

.left a:last-child::after,
.right a:last-child::after {
  visibility: hidden;
}

.left a:hover,
.right a:hover {
  border-bottom: 2px solid #8e5b17;
}

.cart {
  position: absolute;
  top: 5px;
  right: 20px;
  cursor: pointer;
}

.cart > div {
  position: absolute;
  top: 4px;
  right: -20px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #8e5b17;
  text-align: center;
  padding-top: 2px;
}

.cart > div span {
  font-size: 13px;
}

.contacts,
.search {
  display: inline-block;
}

.contacts p {
  font-size: 15px;
}

.search {
  float: right;
}

.search input {
  font-size: 11px;
  padding: 2px 6px;
}

.search button {
  background: #8e5b17;
  border: none;
  font-size: 12px;
  padding: 3px 4px;
  margin-left: -4px;
  -webkit-transition:.25s;
  transition: .25s;
}

.search button:hover {
  background: #9e6b27;
}

.category {
  padding: 40px 0;
}

.category .list {
  max-width: 790px;
  margin: 0 auto;
}

.category .item {
  display: inline-block;
  margin-right: 17px;
  overflow: hidden;
  position: relative;
  margin-bottom: 17px;
  max-height: 150px;
}

.category .item img {
  -webkit-transition:3s linear;
  transition: 3s linear;
}

.category .item:hover img {
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
}

.shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: rgba(96, 57, 19, 0.59);
}

.category .item h6 {
  color: #fff;
  position: absolute;
  top: 70px;
  z-index: 3;
  width: 100%;
  text-align: center;
  font-size: 15px;
  text-transform: uppercase;
  cursor: default;
}

.category .item:nth-child(4),
.category .item:nth-child(6) {
  margin-right: 0;
}

.main {
  background: url("../img/bg.png") top center no-repeat;
  padding-top: 22px;
  padding-bottom: 22px;
}

.main h2,
.bottom .title {
  font-size: 34px;
  text-transform: uppercase;
  text-align: center;
}

.main .orn,
.bottom .orn {
  max-width: 290px;
  margin: 0 auto;
  margin-bottom: 34px;
}

.orn img {
  width: 100%;
}

.block1,
.block2,
.block3 {
  max-width: 1070px;
  margin: 0 auto;
  background: #fff;
  border-radius: 25px;
  box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.25);
  padding: 20px 15px;
  margin-bottom: 25px;
}

.block1 ul,
ul.lady {
  text-align: center;
}

.block1 ul li,
ul.lady li {
  display: inline-block;
  width: 18%;
  margin-right: 1%;
  margin-bottom: 12px;
}

.block1 ul li a {
  display: block;
}

.block1 ul li:last-child,
ul.lady li:last-child {
  margin-right: 0;
}

.block1 ul li p,
ul.lady li p {
  color: #686868;
  font-size: 15px;
  margin-bottom: 4px;
}

.block1 ul li img,
ul.lady li img {
  width: 90%;
  height: 175px;
  object-fit: contain;
  border: 1px solid #686868;
  margin-bottom: 8px;
}

.btn {
  text-align: center;
  margin: 28px auto;
}

.button {
  display: inline-block;
  padding: 5px 24px;
  background: #9f2e03;
  background-image: -webkit-linear-gradient(top, #9f2e03, #3a1000);
  background-image: linear-gradient(to bottom, #9f2e03, #3a1000);
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 16px;
  text-decoration: none;
  -webkit-transition:.4s;
  transition: .4s;
  cursor: pointer;
}

.button:hover {
  color: #fff;
  -webkit-filter: brightness(1.15);
          filter: brightness(1.15);
}

.block2,
.block3 {
  background: url("../img/pattern.png");
}

.block2 > div {
  max-width: 920px;
  margin: 0 auto;
  margin-bottom: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.block2 > div a {
  display: inline-block;
  /*margin-right: 20px;*/
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
  max-height: 180px;
}

.block2 > div a img {
  -webkit-transition:3s linear;
  transition: 3s linear;
  height: 180px;
}

.block2 > div a:hover img {
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
}

.block2 > div a:hover .shadow {
  background: rgba(50, 30, 5, 0.5);
}

/*.block2 > div a:nth-child(2),
.block2 > div a:nth-child(5),
.block2 > div a:nth-child(7),
.block2 > div a:nth-child(9),
.block2 > div a:nth-child(12),
.block2 > div a:nth-child(14),
.block2 > div a:nth-child(17) {
  margin-right: 0;
}*/

.block2 > div a h6 {
  position: absolute;
  width: 100%;
  top: 30%;
  z-index: 3;
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  padding: 0 15px;
  -webkit-transition:.5s;
  transition: .5s;
}

.block2 > div a:hover h6 {
  color: #ffa310;
}

.block2 > div a .shadow {
  background: rgba(50, 30, 5, 0);
  -webkit-transition:.5s linear;
  transition: .5s linear;
}

.orn2 {
  text-align: center;
  max-width: 570px !important;
  margin: 0 auto;
  margin-bottom: 18px;
  position: relative;
}

.orn2 img {
  width: 100%;
}

.tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 26px;
}

.tags li {
  display: inline-block;
  min-width: 55px;
  max-width: 180px;
  text-align: center;
  /*border-right: 1px solid #e0e0e0;*/
  position: relative;
}

.tags li::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 40px;
  width: 1px;
  background: #e0e0e0;
}

.tags li:first-child {
  border-left: 1px solid #e0e0e0;
}

.tags li span,
.tags li a {
  display: block;
  cursor: pointer;
  padding: 10px;
  position: relative;
  z-index: 2;
  -webkit-transition:1s;
  transition: 1s;
}

.tags li::before,
.tags li::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: -webkit-linear-gradient(top left, rgba(255,161,11,0) 0%, rgba(255,161,11,0) 28%, rgba(159,106,2,0) 72%, rgba(117,83,0,0) 100%);
  background: linear-gradient(to bottom right, rgba(255,161,11,0) 0%, rgba(255,161,11,0) 28%, rgba(159,106,2,0) 72%, rgba(117,83,0,0) 100%);
  opacity: 0;
  -webkit-transition:1s;
  transition: 1s;
}

.tags li:hover::before,
.tags li:hover::before {
  background: -webkit-linear-gradient(top left, rgba(255,161,11,1) 0%, rgba(255,161,11,1) 28%, rgba(159,106,2,1) 72%, rgba(117,83,0,1) 100%);
  background: -webkit-linear-gradient(top left, rgba(255,161,11,1) 0%, rgba(255,161,11,1) 28%, rgba(159,106,2,1) 72%, rgba(117,83,0,1) 100%);
  background: linear-gradient(to bottom right, rgba(255,161,11,1) 0%, rgba(255,161,11,1) 28%, rgba(159,106,2,1) 72%, rgba(117,83,0,1) 100%);
  opacity: 1;
}

.tags li.active::before,
.tags li.active::before {
  left: 2.5%;
  bottom: 0;
  top: auto;
  z-index: 1;
  height: 2px;
  width: 95%;
  background: -webkit-linear-gradient(top left, rgba(255,161,11,1) 0%, rgba(255,161,11,1) 28%, rgba(159,106,2,1) 72%, rgba(117,83,0,1) 100%);
  background: -webkit-linear-gradient(top left, rgba(255,161,11,1) 0%, rgba(255,161,11,1) 28%, rgba(159,106,2,1) 72%, rgba(117,83,0,1) 100%);
  background: linear-gradient(to bottom right, rgba(255,161,11,1) 0%, rgba(255,161,11,1) 28%, rgba(159,106,2,1) 72%, rgba(117,83,0,1) 100%);
  opacity: 1;
}

.tags li:hover span,
.tags li:hover a {
  color: #fff;
}

.tags li.active span,
.tags li.active a {
  color: #000;
}

.bottom .wrap {
  position: relative;
  z-index: 2;
}

.bottom .contacts {
  width: 100%;
  background: url("../img/pattern.png");
  text-align: center;
  padding-top: 50px;
  /*position: relative;
  top: -50px;
  z-index: 1;*/
  margin-top: -50px;
}

.bottom .contacts .wrap > img,
.bottom .contacts .wrap > video {
  width: 100%;
}

.bottom .contacts p {
  color: #5d5d5d;
}

.bottom .contacts p:last-of-type {
  margin-bottom: 12px;
}

footer {
  background: url('../img/footer.png') no-repeat;
  background-size: cover;
  padding: 15px 0;
  margin-top: auto;
}

footer nav {
  margin-bottom: 0;
}

footer .info {
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  margin-right: 22px;
}

footer .info p {
  color: #fff;
}

footer .info a {
  color: #8e5b17;
  text-decoration: underline;
  -webkit-transition:.5s;
  transition: .5s;
}

footer .info a:hover {
  text-shadow: 1px 1px 2px rgba(100, 100, 100, 1);
}

footer .center {
  color: #fff;
}

footer .callback {
  border: 1px solid #fff;
  padding: 5px 15px;
  border-radius: 25px;
  display: inline-block;
  color: #fff;
  cursor: pointer;
  margin-left: 18px;
}

footer .callback i {
  color: #8e5b17;
  font-size: 22px;
  vertical-align: middle;
  margin-right: 8px;
}

footer .callback span {
  -webkit-transition:.3s;
  transition: .3s;
}

footer .callback:hover span {
  color: #8e5b17;
}

.left a:last-child::after,
footer .right a:nth-last-child(2)::after {
  visibility: hidden;
}

/*slider*/
.top-slider {
  background: url('../img/headbg.jpg') no-repeat;
  background-size: cover;
}

/*.top-slider .carousel{
  box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.25);
}*/

/*#carousel img {
  padding-top: 100px;
  margin: 10px 0;
  transition: .2s;
  transform: scale(.7);
  position: relative;
  top: 81px;
  outline: none;
}
#carousel img.slick-active {
  transform: scale(1.5);
  position: relative;
  top: -60px;
  z-index: 1;
}
#carousel img.slick-active + img.slick-active {
  transform: scale(1.15);
  position: relative;
  top: -15px;
  z-index: 0;
}
#carousel img.slick-active + img.slick-center {
  transform: scale(.9);
  position: relative;
  top: 34px;
}
#carousel img.slick-center + img.slick-active {
  transform: scale(.7);
  position: relative;
  top: 81px;
}
#carousel img.slick-active.slick-center + img.slick-active + img.slick-active {
  transform: scale(.7);
  position: relative;
  top: 81px;
}*/

#carousel button.slick-prev {
  left: 0;
  z-index: 2;
}
#carousel button.slick-next {
  right: 0;
  z-index: 2;
}

#carousel .slick-cloned:nth-last-child(4) {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  position: relative;
  top: -60px;
  z-index: 1;
}

#carousel .slick-cloned:nth-last-child(3) {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
  position: relative;
  top: -15px;
  z-index: 0;
}

#carousel .slick-cloned:nth-last-child(2) {
  -webkit-transform: scale(.9);
          transform: scale(.9);
  position: relative;
  top: 34px;
}

#carousel .slick-cloned:nth-last-child(1) {
  -webkit-transform: scale(.7);
          transform: scale(.7);
  position: relative;
  top: 81px;
}

#carousel .slick-cloned:nth-child(4) {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  position: relative;
  top: -60px;
  z-index: 1;
  -webkit-transition:opacity 0s;
  transition: opacity 0s;
}

#carousel .slick-cloned:nth-child(4) + .slick-slide {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
  position: relative;
  top: -15px;
  z-index: 0;
}

#carousel .slick-cloned:nth-child(4) + .slick-slide + .slick-slide {
  -webkit-transform: scale(.9);
          transform: scale(.9);
  position: relative;
  top: 34px;
}

/*#carousel .slick-cloned:nth-child(4) + .slick-slide + .slick-slide + .slick-slide {
  transform: scale(.7);
  position: relative;
  top: 81px;
}*/

#carousel .slick-slide.hide {
  opacity: 0;
}

#carousel .slick-slide {
  padding-top: 100px;
  margin: 10px 0;
  -webkit-transition:.5s;
  transition: .5s;
  -webkit-transform: scale(.7);
          transform: scale(.7);
  position: relative;
  top: 81px;
  outline: none;
  max-height: 450px;
  -o-object-fit: contain;
     object-fit: contain;
}

#carousel .slick-current {
  -webkit-transform: scale(1.5) !important;
          transform: scale(1.5) !important;
  position: relative;
  top: -60px !important;
  z-index: 1 !important;
}

#carousel .slick-current + .slick-slide {
  -webkit-transform: scale(1.15) !important;
          transform: scale(1.15) !important;
  position: relative;
  top: -15px !important;
  z-index: 0 !important;
}

#carousel .slick-current + .slick-slide + .slick-slide {
  -webkit-transform: scale(.9) !important;
          transform: scale(.9) !important;
  position: relative;
  top: 34px !important;
}

#carousel .slick-current + .slick-slide + .slick-slide + .slick-slide {
  -webkit-transform: scale(.7) !important;
          transform: scale(.7) !important;
  position: relative;
  top: 81px !important;
}

#carousel .slick-current + .slick-slide + .slick-slide + .slick-slide + .slick-slide {
  -webkit-transform: scale(.7);
          transform: scale(.7);
  position: relative;
  top: 81px;
}

.slick-prev,
.slick-next {
  width: 32px;
  height: 52px;
}

.slick-prev {
  background: url('../img/left.png') no-repeat;
}

.slick-next {
  background: url('../img/right.png') no-repeat;
}

.slick-prev:before, .slick-next:before {
  content: "";
}

.slick-dots {
  bottom: 10px;
}

.slick-dots li button {
  background: #fff;
  box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.25);
  border: none;
  border-radius: 50%;
  width: 12px;
  height: 12px;
}

.slick-dots li.slick-active button {
  background: #8e5b17;
  border-top: 1px solid #b38341;
}

.slick-dots li button::before {
  content: none;
}

.slick-dotted.slick-slider {
  margin-bottom: 0;
}

.top-slider .wrap {
  padding: 0;
}

.top-slider .text {
  position: absolute;
  color: #fff;
  right: 20%;
  top: 50px;
  text-align: center;
  z-index: 1;
}

.top-slider .text h3 {
  font-size: 32px;
  text-transform: uppercase;
}

.top-slider .text p {
  font-size: 20px;
}

.top-slider .carousel-control i {
  font-size: 72px;
  position: relative;
  top: 38%;
}

.top-slider .carousel-indicators {
  bottom: 10px !important;
}

.top-slider .carousel-indicators li {
  background: #fff;
  box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.25);
  border: none;
}

.top-slider .carousel-indicators li.active {
  background: #8e5b17;
  border-top: 1px solid #b38341;
}

.top-slider .carousel-control.right,
.top-slider .carousel-control.left {
  background-image: none;
}

.bottom .slider {
  padding: 0 75px;
  margin-bottom: 65px;
}

.bottom .carousel-inner .item img {
  width: 100%;
}

.bottom .carousel-control i {
  font-size: 72px;
  color: #946424;
  position: relative;
  top: 35%;
}

.bottom .carousel-control.right,
.bottom .carousel-control.left {
  background-image: none;
  width: 75px;
}

.bottom .carousel-control.right {
  right: -75px;
}

.bottom .carousel-control.left {
  left: -75px;
}

.bottom .carousel-indicators {
  bottom: -40px !important;
}

.bottom .carousel-indicators li {
  background: #8e5b17;
  border: none;
}

.bottom .carousel-indicators li.active {
  background: #ffa310;
}

/*Модаль*/

.modal-dialog {
  max-width: 380px;
}

.modal-content {
  background: url("../img/modalbg.png") no-repeat;
  background-size: cover;
  border-radius: 20px;
}

.modal-body {
  position: relative;
}

.modal-body .close {
  border: none;
  background: none;
  color: #fff;
  font-size: 36px;
  line-height: 36px;
  position: absolute;
  top: 5px;
  right: 15px;
}

.modal-body .close:focus {
  outline: none;
}

.modal-body h4 {
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-size: 24px;
}

.modal-body .orn2 {
  position: relative;
  top: 14px;
  margin-bottom: 0;
}

.modal-body form {
  background: url("../img/modalform.png") no-repeat;
  background-size: 100% 100%;
  padding: 25px 20px;
  margin-bottom: 5px;
}

.modal-body form h6 {
  text-align: center;
  font-size: 22px;
  color: #9b9b9b;
  margin-bottom: 8px;
}

.modal-body form input {
  margin-bottom: 10px;
  width: 100%;
  padding: 5px 12px;
  border: 1px solid #9b9b9b;
}

.modal-body form .btn {
  margin-top: 5px;
  margin-bottom: 10px;
}

.modal-body form .btn button {
  border: none;
}

.modal-body .text {
  text-align: center;
  color: #fff;
  font-size: 16px;
}

header.alternative {
  background: url('../img/headbg2.png') center no-repeat;
  background-size: 100% 100%;
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
}


/*Каталог*/

.bread .wrap {
  padding-top: 15px;
  padding-left: 64px;
  padding-right: 64px;
  margin-bottom: 20px;
}

.bread .wrap .dis {
  border-bottom: 1px solid #f7f7f7;
}

.bread,
.bread a {
  color: #9b9b9b;
  -webkit-transition:.5s;
  transition: .5s;
}

.bread a:hover {
  color: #ffa310;
}

.bottom.alternative .wrap {
  border-bottom: 1px dashed #cdcdcd;
  margin-bottom: 20px;
}

.catalog .search {
  float: none;
  text-align: center;
  display: block;
  margin-bottom: 12px;
}

.catalog .search input {
  border: 1px solid #8e5b17;
  width: 30%;
  font-size: 14px;
}

.catalog .search button {
  font-size: 14px;
  padding-left: 12px;
  padding-right: 25px;
  color: #fff;
}

.catalog .search button img {
  margin-right: 8px;
  width: 18px;
  vertical-align: sub;
}

.catalog .tags {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.catMain {
  padding-bottom: 35px;
}

.catMain .left {
  border: 1px solid #9b9b9b;
  border-radius: 20px;
  padding: 20px 10px;
}

.catMain .left h6 {
  font-size: 32px;
  text-align: center;
  color: #000;
  border-bottom: 1px dashed #cdcdcd;
  margin-bottom: 12px;
}

.catMain .left .filter span{
  color: #000;
  font-size: 20px;
}

.catMain .left .filter {
  padding-left: 28px;
  margin-bottom: 22px;
}

.catMain .left .filter li {
  margin-bottom: 8px;
}

.catMain .left .filter li input[type="checkbox"] {
  margin-right: 10px;
  cursor: pointer;
}

.catMain .left .filter li label {
  color: #5d5d5d;
  font-family: "MuseoSansRegular", "OpenSans";
  cursor: pointer;
}

.catMain .left button {
  background: #8e5b17;
  border: none;
  padding: 3px 4px;
  margin-left: -4px;
  -webkit-transition: .25s;
  transition: .25s;
  font-size: 16px;
  padding-left: 12px;
  padding-right: 25px;
  color: #fff;
  display: block;
  width: 120px;
  margin: 0 auto;
}

.catMain .left button img{
  width: 18px;
}

.catMain .left button:hover {
  background: #9e6b27;
}

.catMain .right {
  padding: 0 45px;
}

.catMain .right div a {
  width: 21.5%;
  text-align: center;
  display: inline-block;
  margin-bottom: 32px;
  vertical-align: top;
}

.catMain .right div a::after {
  display: none;
}

.catMain .right div a:hover > div {
  border: 1px solid #ffa310;
}

.catMain .right div a:hover p {
  color: #ffa310;
}

.catMain .right a:hover {
  border-bottom: none;
}

.catMain .right div a > div {
  width: 175px;
  height: 175px;
  border: 1px solid #686868;
  -webkit-transition:.3s;
  transition: .3s;
  padding: 5px;
}

.catMain .right div a img {
  height: 100%;
}

.catMain .right div a p {
  color: #686868;
  margin: 12px 0;
  -webkit-transition:.3s;
  transition: .3s;
}

.cardMain .big {
  margin-bottom: 22px;
  text-align: center;
}

.cardMain .big .big__container {
  height: 390px;
  overflow: hidden;
  margin: 0 auto;
  text-align: center;
}

.cardMain .big .big__container video {
  width: 100%;
  height: 100%;
  display: none;
}

.cardMain .big .big__container img {
  max-height: 390px;
  max-width: 100%;
}

.cardMain .small {
  margin-bottom: 22px;
}

/*Приручаем зумер*/
.cardMain .big .big__container > div {
  height: auto !important;
  width: auto !important;
}

.cardMain .big .big__container > div img {
  position: static !important;
}
/**********************/


.cardMain .small .video,
.cardMain .small .pict .row .small__col {
  display: inline-block;
  border: 2px solid #cdcdcd;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  -webkit-transition:.3s;
  transition: .3s;
}

.cardMain .small .btn {
  margin: 0;
  margin-left: 18.5px;
  text-align: left;
}

.cardMain .small .btn .button {
  background: rgba(255,161,11,1);
  background-image: -webkit-linear-gradient(top, rgba(255,161,11,1) 0%, rgba(255,161,11,1) 28%, rgba(159,106,2,1) 72%, rgba(117,83,0,1) 100%);
  background-image: linear-gradient(to bottom,  rgba(255,161,11,1) 0%, rgba(255,161,11,1) 28%, rgba(159,106,2,1) 72%, rgba(117,83,0,1) 100%);
}

.cardMain .small .video {
  display: inline-block;
  margin-right: 24px;
  vertical-align: top;
}

.cardMain .small .video > div {
  width: 215px;
  height: 215px;
}

.cardMain .small .pict {
  display: inline-block;
  max-width: 50%;
  width: 100%;
}

.cardMain .small .pict .row {
  width: 100%;
  margin: 0;
}

.cardMain .small .pict .row .small__col {
  margin-bottom: 9px;
  height: 102.5px;
  width: 102.5px;
  margin-right: 8px;
}

.cardMain .small .pict .row > div:last-child {
  margin-right: 0;
}

.cardMain .small .video:hover,
.cardMain .small .pict .row .small__col:hover,
.cardMain .small .pict .row .small__col.is-active {
  border-color: #ffa310;
}

.cardMain .small .video .play {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-image: url('../img/play.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.cardMain .small .video img,
.cardMain .small .pict .small__col img {
  width: 100%;
  color: #333;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.cardMain .card {
  border: 1px solid #cdcdcd;
  border-radius: 20px;
  padding: 15px 20%;
}

.cardMain .card .title {
  font-size: 32px;
  color: #000;
  text-transform: none;
  white-space: nowrap;
  margin-bottom: 22px;
}

.cardMain .card .information {
  margin-bottom: 22px;
}

.cardMain .card .information p {
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 12px;
}

.cardMain .card .information span {
  color: #9b9b9b;
}

.cardMain .card .price {
  font-size: 32px;
  color: #000;
  margin-bottom: 18px;
}

.cardMain .card .item-info {
  font-family: "MuseoSansRegular", "OpenSans";
  font-size: 14px;

}

.cardMain .card .btn {
  cursor: pointer;
}

div.back {
  text-align: center;
}

div.back a {
  color: #5d5d5d;
  border-bottom: 1px dashed #5d5d5d;
  -webkit-transition:.5s;
  transition: .5s;
}

div.back a:hover {
  color: #ffa310;
  border-bottom-color: #ffa310;
}

.cardMore {
  padding: 0 22px;
  margin-bottom: 32px;
}

.cardMore .left,
.cardMore .right {
  display: inline-block;
  vertical-align: top;
}

.cardMore .left {
  width: 19%;
}

.cardMore .left h6 {
  font-weight: 600;
  font-size: 22px;
}

.cardMore .right {
  width: 80%;
  text-align: right;
}

.cardMore .right > div {
  display: inline-block;
  width: 15%;
  margin-right: 1.3%;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  vertical-align: top;
}

.cardMore .right > div img {
  width: 100%;
  border: 2px solid #cdcdcd;
  margin-bottom: 4px;
  -webkit-transition:.3s;
  transition: .3s;
}

.cardMore .right > div a {
  width: 100%;
  height: 100%;
  position: absolute;
}

.cardMore .right > div:hover p:first-of-type,
.cardMore .right > div:hover p:last-of-type {
  color: #ffa310;
}

.cardMore .right > div:hover img {
  border-color: #ffa310;
}

.cardMore .right > div a:hover {
  border-bottom: none;
}

.cardMore .right > div p:first-of-type {
  font-size: 15px;
  font-weight: 600;
  text-align: left;
  margin-bottom: 4px;
  -webkit-transition:.3s;
  transition: .3s;
}

.cardMore .right > div p:last-of-type {
  color: #5d5d5d;
  font-size: 15px;
  text-align: left;
  -webkit-transition:.3s;
  transition: .3s;
}

.table {
  display: table;
  width: 100%;
  padding: 0 64px;
  margin-bottom: 12px;
}

.table .head {
  display: table-header-group;
  font-family: "Bazhanov", "Times New Roman";
  background: #efefef;
  font-size: 22px;
}

.table .head .row .cell:first-child {
  border-radius: 25px 0 0 0;
}

.table .head .row .cell:last-child {
  border-radius: 0 25px 0 0;
}

.table .body {
  display: table-row-group;
}

.table .row {
  display: table-row;
  text-align: center;
}

.table .cell {
  display: table-cell;
  padding: 8px 16px;
}

.table .cell > img {
  max-width: 135px;
  max-height: 135px;
}

.table .body .cell {
  color: #9b9b9b;
  font-size: 18px;
  font-family: "MuseoSansRegular", "OpenSans";
  font-weight: 500;
}

.total-price {
  font-size: 25px;
  color: #000;
  text-align: right;
  padding: 0 65px;
  margin-bottom: 25px;
}

div.back.alt {
  margin-bottom: 22px;
}

/*Отрисовка бордеров*/
.table .body .row:first-child .cell {
  border-top: 1px solid #9b9b9b;
}

.table .body .row .cell:first-child {
  border-left: 1px solid #9b9b9b;
}

.table .body .row .cell:last-child {
  border-right: 1px solid #9b9b9b;
}

.table .body .row .cell {
  border-right: 1px solid #efefef;
  border-bottom: 1px dashed #efefef;
}

.table .body .row:last-child .cell {
  border-bottom: 1px solid #9b9b9b;
}
/*-----------------------------------*/

.aboutTop {
  background: url('../img/headbg2.jpg') no-repeat;
  background-size: cover;
}

.aboutTop .text {
  display: inline-block;
  text-align: center;
  width: 285px;
  margin-top: 10%;
  margin-left: 15%;
}

.aboutTop h2,
.aboutTop h3 {
  color: #fff;
}

.aboutTop h2 {
  font-size: 32px;
}

.aboutTop h3 {
  font-size: 26px;
}

.aboutTop img {
  float: right;
  margin-right: 7%;
}

.bottom.about {
  background:     -webkit-linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)
    ),   url('../img/clock.jpg') no-repeat;
  background:     linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)
    ),   url('../img/clock.jpg') no-repeat;
  background-size: cover;
}

.leftAbout,
.rightAbout {
  margin-bottom: 62px;
}

.leftAbout .text,
.rightAbout .text {
  display: inline-block;
  width: 49%;
  text-align: center;
  margin-top: 18px;
  float: left;
}

.rightAbout .text {
  float: right;
}

.leftAbout .text .orn,
.rightAbout .text .orn {
  margin-bottom: 0;
}

.leftAbout .text h2,
.rightAbout .text h2  {
  font-size: 32px;
  margin-top: 6px;
  text-transform: uppercase;
}

.leftAbout .text h3,
.rightAbout .text h3  {
  margin-bottom: 6px;
  font-size: 30px;
}

.leftAbout > img,
.rightAbout > img {
  width: 49%;
  max-width: 513px;
  height: 240px;
  float: right;
}

.rightAbout > img {
  float: left;
}

.about .steps {
  margin-top: 55px;
  margin-bottom: 60px;
}

.about .steps .step {
  display: inline-block;
  width: 24%;
  margin-right: 1%;
  text-align: center;
  vertical-align: top;
}

.about .steps .step:last-child {
  margin-right: 0;
}

.about .steps .step .text span{
  font-family: "Bazhanov", "Times New Roman";
  font-size: 22px;
  color: #000;
  line-height: 22px;
  display: inline-block;
  text-align: left;
}

.about .steps .step .text img {
  vertical-align: top;
  margin-right: 8px;
}

.block2.about {
  padding: 50px 75px;
  margin-bottom: 60px;
}

.block2.about .text {
  font-family: "Bazhanov", "Times New Roman";
  font-size: 22px;
  color: #000;
}

.banner {
  max-width: 1920px;
  margin: 0 auto;
  margin-bottom: -30px;
}

.banner img {
  width: 100%;
}

.zoomContainer {
  z-index: 100;
}

.collage {
  margin-bottom: 24px;
}

.collage img {
  width: 100%;
}

.collage > div:first-child img:first-child {
  margin-bottom: 51px;
}

.collage > div:last-child img {
  width: 97.7%;
}

.video-block {
  padding-top: 12px;
}

.videos {
  max-width: 1366px;
  margin: 0 auto;
  padding: 0 12px;
  margin-bottom: 24px;
}

.videos .col {
  font-size: 0;
  margin-bottom: 24px;
}

.videos .left-side,
.videos .right-side {
  display: inline-block;
  width: 50%;
  vertical-align: top;
}

.videos .right-side {
  text-align: center;
}

.videos .title {
  font-family: "Bazhanov", "Times New Roman";
  font-size: 28px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 12px;
}

.videos .text {
  font-size: 16px;
  text-align: justify;
}

.videos .sm-video,
.videos iframe {
  width: 429px;
  height: 241px;
}

.ytVid .big-video,
.ytVid iframe {
  width: 82%;
  height: 580px;
  margin-bottom: 32px;
}

/* Magnific Popup CSS */
.mfp-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1042;
  overflow: hidden;
  position: fixed;
  background: #0b0b0b;
  opacity: 0.8; }

.mfp-wrap {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1043;
  position: fixed;
  outline: none !important;
  -webkit-backface-visibility: hidden; }

.mfp-container {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0 8px;
  box-sizing: border-box; }

.mfp-container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle; }

.mfp-align-top .mfp-container:before {
  display: none; }

.mfp-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 1045; }

.mfp-inline-holder .mfp-content,
.mfp-ajax-holder .mfp-content {
  width: 100%;
  cursor: auto; }

.mfp-ajax-cur {
  cursor: progress; }

.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: -moz-zoom-out;
  cursor: -webkit-zoom-out;
  cursor: zoom-out; }

.mfp-zoom {
  cursor: pointer;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in; }

.mfp-auto-cursor .mfp-content {
  cursor: auto; }

.mfp-close,
.mfp-arrow,
.mfp-preloader,
.mfp-counter {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; }

.mfp-loading.mfp-figure {
  display: none; }

.mfp-hide {
  display: none !important; }

.mfp-preloader {
  color: #CCC;
  position: absolute;
  top: 50%;
  width: auto;
  text-align: center;
  margin-top: -0.8em;
  left: 8px;
  right: 8px;
  z-index: 1044; }
  .mfp-preloader a {
    color: #CCC; }
    .mfp-preloader a:hover {
      color: #FFF; }

.mfp-s-ready .mfp-preloader {
  display: none; }

.mfp-s-error .mfp-content {
  display: none; }

button.mfp-close,
button.mfp-arrow {
  overflow: visible;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  display: block;
  outline: none;
  padding: 0;
  z-index: 1046;
  box-shadow: none;
  touch-action: manipulation; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

.mfp-close {
  width: 44px;
  height: 44px;
  line-height: 44px;
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: none;
  text-align: center;
  opacity: 0.65;
  padding: 0 0 18px 10px;
  color: #FFF;
  font-style: normal;
  font-size: 28px;
  font-family: Arial, Baskerville, monospace; }
  .mfp-close:hover,
  .mfp-close:focus {
    opacity: 1; }
  .mfp-close:active {
    top: 1px; }

.mfp-close-btn-in .mfp-close {
  color: #333; }

.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close {
  color: #FFF;
  right: -6px;
  text-align: right;
  padding-right: 6px;
  width: 100%; }

.mfp-counter {
  position: absolute;
  top: 0;
  right: 0;
  color: #CCC;
  font-size: 12px;
  line-height: 18px;
  white-space: nowrap; }

.mfp-arrow {
  position: absolute;
  opacity: 0.65;
  margin: 0;
  top: 50%;
  margin-top: -55px;
  padding: 0;
  width: 90px;
  height: 110px;
  -webkit-tap-highlight-color: transparent; }
  .mfp-arrow:active {
    margin-top: -54px; }
  .mfp-arrow:hover,
  .mfp-arrow:focus {
    opacity: 1; }
  .mfp-arrow:before,
  .mfp-arrow:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 35px;
    margin-left: 35px;
    border: medium inset transparent; }
  .mfp-arrow:after {
    border-top-width: 13px;
    border-bottom-width: 13px;
    top: 8px; }
  .mfp-arrow:before {
    border-top-width: 21px;
    border-bottom-width: 21px;
    opacity: 0.7; }

.mfp-arrow-left {
  left: 0; }
  .mfp-arrow-left:after {
    border-right: 17px solid #FFF;
    margin-left: 31px; }
  .mfp-arrow-left:before {
    margin-left: 25px;
    border-right: 27px solid #3F3F3F; }

.mfp-arrow-right {
  right: 0; }
  .mfp-arrow-right:after {
    border-left: 17px solid #FFF;
    margin-left: 39px; }
  .mfp-arrow-right:before {
    border-left: 27px solid #3F3F3F; }

.mfp-iframe-holder {
  padding-top: 40px;
  padding-bottom: 40px; }
  .mfp-iframe-holder .mfp-content {
    line-height: 0;
    width: 100%;
    max-width: 900px; }
  .mfp-iframe-holder .mfp-close {
    top: -40px; }

.mfp-iframe-scaler {
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 56.25%; }
  .mfp-iframe-scaler iframe {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: #000; }

/* Main image in popup */
img.mfp-img {
  width: auto;
  max-width: 100%;
  height: auto;
  display: block;
  line-height: 0;
  box-sizing: border-box;
  padding: 40px 0 40px;
  margin: 0 auto; }

/* The shadow behind the image */
.mfp-figure {
  line-height: 0; }
  .mfp-figure:after {
    content: '';
    position: absolute;
    left: 0;
    top: 40px;
    bottom: 40px;
    display: block;
    right: 0;
    width: auto;
    height: auto;
    z-index: -1;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: #444; }
  .mfp-figure small {
    color: #BDBDBD;
    display: block;
    font-size: 12px;
    line-height: 14px; }
  .mfp-figure figure {
    margin: 0; }

.mfp-bottom-bar {
  margin-top: -36px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  cursor: auto; }

.mfp-title {
  text-align: left;
  line-height: 18px;
  color: #F3F3F3;
  word-wrap: break-word;
  padding-right: 36px; }

.mfp-image-holder .mfp-content {
  max-width: 100%; }

.mfp-gallery .mfp-image-holder .mfp-figure {
  cursor: pointer; }

@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
  /**
       * Remove all paddings around the image on small screen
       */
  .mfp-img-mobile .mfp-image-holder {
    padding-left: 0;
    padding-right: 0; }
  .mfp-img-mobile img.mfp-img {
    padding: 0; }
  .mfp-img-mobile .mfp-figure:after {
    top: 0;
    bottom: 0; }
  .mfp-img-mobile .mfp-figure small {
    display: inline;
    margin-left: 5px; }
  .mfp-img-mobile .mfp-bottom-bar {
    background: rgba(0, 0, 0, 0.6);
    bottom: 0;
    margin: 0;
    top: auto;
    padding: 3px 5px;
    position: fixed;
    box-sizing: border-box; }
    .mfp-img-mobile .mfp-bottom-bar:empty {
      padding: 0; }
  .mfp-img-mobile .mfp-counter {
    right: 5px;
    top: 3px; }
  .mfp-img-mobile .mfp-close {
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    text-align: center;
    padding: 0; } }

@media all and (max-width: 900px) {
  .mfp-arrow {
    -webkit-transform: scale(0.75);
    transform: scale(0.75); }
  .mfp-arrow-left {
    -webkit-transform-origin: 0;
    transform-origin: 0; }
  .mfp-arrow-right {
    -webkit-transform-origin: 100%;
    transform-origin: 100%; }
  .mfp-container {
    padding-left: 6px;
    padding-right: 6px; } }
